:root {
    --cream: #fff8ef;
    --peach: #f6c7a8;
    --light-peach: #fde5d5;
    --brown: #5a3825;
    --dark-brown: #352219;
    --text: #594b43;
    --white: #ffffff;
    --border: #ead9ca;
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
  html{
    scroll-behavior: smooth;
  }  
  body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cream);
    color: var(--dark-brown);
    line-height: 1.6;
  }
  header {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 7%;
    background-color: var(--cream);
    border-bottom: 1px solid var(--border);
  }